* {
    color: rgb(253, 253, 253);
}

body {
    margin: 0%;
    padding: 0%;
}

.dmain {
    height: 100vh;
    margin: 0% 0.1%;
    overflow-y: auto;
    scrollbar-width: none;
    /* position: relative;
    top: 0%;
    left: 1px; */
}

.dcont {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.dcontainer {
    display: grid;
}

.dfirst,
.dsecond {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dcol {
    color:black;
    margin: 0.5px;
    border: solid 1px gray;
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: top;
    justify-items: center;
    background-color: rgb(252, 252, 252);
}

.dcol1 {
    margin: 0.5px;
    border: solid 1px gray;
    height: 30vh;
    /* display: grid;
    grid-template-rows: 0.1fr 2.9fr;
    align-items: top;
    justify-items: center; */
}

.dsidechart {
    margin: 0.5px;
    border: solid 1px gray;
    height: calc(45vh + 1px)
}

.dlower {
    height: calc(55vh - 6px);
    width: calc(100% - 3px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dchart {
    margin: 0%;
    border: solid 1px gray;
}

#chart1 {
    margin-top: 1px;
    margin-left: 1px;
    width: 100%;
}

#chart2 {
    margin-top: 1px;
    margin-left: 2px;
    width: 100%;
}

.info{
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
}
.alpha{
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    overflow-x: auto;
    scrollbar-width: none;
}
.numb{
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    overflow-x: auto;
    scrollbar-width: none;
}
.summary_title{
    margin-top: 5px;
}
.summary_graph{
    height: max-content;
    margin-top: 5px;
    display: grid;
    grid-template-rows: 0.1fr 0.9;
}
.col_and_grp{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.df_grp_box{
    display: grid;
    grid-template-rows: 0.05fr 1fr;
}
.df_colname{
    background-color: aliceblue;
    color: black;
    border: solid 1px black;
}
.df_summary{
    background-color: aliceblue;
    color: black;
    border: solid 1px black;  
    height: 80vh; 
}
.grp_type{
    background-color: aliceblue;
    color: black;
    border: solid 1px black;
}
.grp_type ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.grp_type ul li{
    color: black;
    border: solid 1px gray;
    margin: 1px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}
.df_grp{
    background-color: aliceblue;
    color: black;
    border: solid 1px black;  
}