* {
    color: rgb(253, 253, 253);
}
b{
    color: #000;
}

body {
    margin: 0%;
    padding: 0%;
}

.dmain {
    height: 100vh;
    margin: 0% 0.1%;
    overflow-y: auto;
    scrollbar-width: none;
    /* position: relative;
    top: 0%;
    left: 1px; */
}

.dcont {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.dcontainer {
    display: grid;
}

.dfirst,
.dsecond {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dcol {
    color:black;
    margin: 0.5px;
    border: solid 1px gray;
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: top;
    justify-items: center;
    background-color: rgb(252, 252, 252);
}

.dcol1 {
    margin: 0.5px;
    border: solid 1px gray;
    height: 30vh;
    /* display: grid;
    grid-template-rows: 0.1fr 2.9fr;
    align-items: top;
    justify-items: center; */
}

.dsidechart {
    margin: 0.5px;
    border: solid 1px gray;
    height: calc(45vh + 1px)
}

.dlower {
    height: calc(55vh - 6px);
    width: calc(100% - 3px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dchart {
    margin: 0%;
    border: solid 1px gray;
}

#chart1 {
    margin-top: 1px;
    margin-left: 1px;
    width: 100%;
}

#chart2 {
    margin-top: 1px;
    margin-left: 2px;
    width: 100%;
}

.info{
    height: max-content;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
}
.alpha{
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    overflow-x: auto;
    scrollbar-width: none;
}
.numb{
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    overflow-x: auto;
    scrollbar-width: none;
}

.title_name{
    color: #000;
}
/* .df_summary {
  background-image: url("../assets/bullet_point.jpg");
  background-size: contain;        
  background-position: center;
  background-repeat: no-repeat;
} */

.summary_title{
    padding: 5px 0px;
    background-color: #fff;
    border:solid 1px #000;
}
.summary_title p{
    color: black;
}
.summary_graph{
    height: max-content;
    display: grid;
}
.col_and_grp{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.df_grp_box{
    display: grid;
    grid-template-rows: 0.05fr 1fr;
}
.df_colname{
    background-color: #fff;
    color: black;
    border: solid 1px black;
}
.df_summary{
    background-color: #fff;
    color: black;
    border: solid 1px black;  
    height: 80vh; 
}

.df_colname {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px;
}

.col-btn {
  padding: 8px 12px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  color:black;
}

.col-btn.active {
  background: black;
  color: white;
}

.col-btn {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.col-btn:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.df_grp {
  background-image: url("../assets/grp.png");
  background-size: contain;        /* or contain */
  background-position: center;
  background-repeat: no-repeat;
}

.grp_type{
    background-color: #fff;
    color: black;
    border: solid 1px black;
}
.grp_type ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.grp_type ul li{
    color: black;
    border: solid 1px gray;
    margin: 1px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}
.df_grp{
    background-color: #fff;
    color: black;
    border: solid 1px black;  
    position: relative;
}
.grp_type li {
  cursor: pointer;
  padding: 8px;
}

.grp_type li.active {
  background-color: #000;
  color: #fff;
}

.nav_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav_buttons button {
  padding: 5px 12px;
  cursor: pointer;
}

.left_button{
    position: absolute;
    bottom: 10%;
    left:5px;
    transform: translateY(-50%);
}
.right_button{
    position: absolute;
    bottom: 10%;
    right:5px;
    transform: translateY(-50%);
}
.summary{
    background-color: #fff;
    overflow-x: auto;
}
.summary *{
    color: #000;
    border: #000 solid 1px;
    padding: 5px;
}