body{
  height: 100vh;
  width: 100%;
  background-image: url("assets/autoscope.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0%;
  padding: 0% 5%;
}
.main{
  height: 100vh;
  width: 100%;
  position: relative;
} 
#navbarText a{
  color: white;
}
.navbar-text{
  color: white;
}
h1{
  color: tomato;
}
.my_content h3,p{
  color:white;
  margin: 0;
}
.container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.hero h1{
  font-size: 4rem;
}
.mb-3,.upload{
  color: white;
}
.upload{
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  border-radius: 25px;
  box-shadow: 0px 0px 5px white;
}

